<p id="notice"><%= notice %></p>

<p>
  <strong>Choice:</strong>
  <%= @user_decision.choice %>
</p>

<%= link_to 'Edit', edit_user_decision_path(@user_decision) %> |
<%= link_to 'Back', user_decisions_path %>
